/* /* body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   background-color: gray;
}
h1{
    text-align: center;
}
.buttons{
    border: 2px solid gray;
    width: 70%;
    margin: auto;
    padding: 40px;
}
.buttons button{
    min-width: 80px;
    margin: 0 24px;
} */
/* body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.box {
   border: 1px solid grey;
   width: 70%;
   margin-top: 100px;
   margin-left: 12%;
   padding: 40px;

}
.box button{
    margin: 0 24px;
    min-width: 80px;
} */
/* h1{
    text-align: center;
    position: relative;
    bottom: -45px; */
    
    
/* }
#result{
    border: 1px solid grey;
   width: 70%;
   margin-top: 100px;
   margin-left: 12%;
   padding: 40px;

}
#result{
    text-align: center;
} */ 

/* margin-top
margin-right
margin-bottom
margin-left */   

/* margin:10px,10px,10px,10px */

/* .small{
    width: 100px;
    height: 100px;
}
.big{
    width: 180px;
    height: 180px;
}
.image{
    width: 200px;
    height: 100px;
}
/* .bold{
    font-weight: bold;
} */
/* .blue{
    color: blue;
}
.head2{
    color:blue;
}
.opf{
    color: brown;
    font-size: 50px;
} */




body {
    background-color: #F0F2F5;
    color: white;
    margin: 0;
    padding: 0;
    font-family: my-font;
}

.post {
    background-color: #ffffff;
    width: 540px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 20px auto;
}
#postmy {
    background-color: #ffffff;
    width: 540px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 20px auto;
}
.post-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    color: rgb(185, 178, 178);
    border-bottom: 1px solid rgba(232, 232, 232,1);
}

.post-heading h3{
    margin: 0;
    user-select: none;
}
.post-image{
    display: flex;
    align-items: center;
    margin: 5px 0 5px 0;
    width: 100%;
}
.post-image2{
    display: flex;
    align-items: center;
    margin: 5px 0 5px 0;
    width: 100%;
    display: none;
}
.image {
    width: 100px;
    clip-path: circle();
    margin-right: -10px;
}
.name{
    font-family: font-2;
    color: rgb(185, 178, 178);
}
 #textArea1{
    margin-left: 30px;
    font-size: 20px;
    width: 100%; 
    min-height: 100px;
    background-color: transparent;
    border: none;
    resize: none;
    font-family: my-font;
    background-position: center;
    background-size: cover;
}
#textArea1::placeholder {
    color: rgb(185, 178, 178);

}

#textArea1:focus {
    border: none;
    outline: none;

} 
.post-btn {
    color: #fff;
    padding: 10px;
    width: 95%;
    background-color: #2374e1;
    cursor: pointer;
    border: none;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 20px;
  margin-left: 12px;
}
.main{
    display:none;
}
.line{
    border-bottom: 1px solid rgba(232, 232, 232,1);
    width:98%;
    margin-left: 20px;
}
#option {
    margin-left: 300px;
    font-size: 25px;
    margin-bottom: 10px;
}
.intro{
    border-bottom: 1px solid rgba(232, 232, 232,1);

}
.like{
    color: rgb(185, 178, 178);
 
}

.comment{
    color: rgb(185, 178, 178);
    cursor: pointer;
}
.main2{
    display: flex;
    justify-content: space-around;
}
.comment-box{
    display: flex;
    display: none;
}
#comment-text {
    width: 405px;
    padding: 10px 40px 10px 10px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    resize: none;
    font-family: Poppins;

}
